@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

html{
	background-color:#E0EDF9;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
}

.footer{
	background-color:#0F2E4C;
	background:url("http://img09.deviantart.net/3b10/i/2012/166/0/d/blue_grey_grunge_texture_hd_background_by_rohynrajesh-d53juzl.jpg");
	box-shadow:0 1px 1px #ccc;
	padding: 10px 20px;
	height: 70px;
	color: #ffffff;
	box-sizing: border-box;
	clear:both;
}
.content
{
	padding-top:50px;
	float:right;
	width:75%;
	
}

#cssmenu {
  background: #333;
  list-style: none;
  margin: 0;
  padding-left: 5px;
  overflow:hidden;
  float:left;
  width: 16em;
  height:37em;
}
#cssmenu li {
  font: 90% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  
}
#cssmenu a {
  background: #333;
  border-radius:5px;
  border-bottom: 1px solid #393939;
  color: #ccc;
  display: block;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: bold;
}
#cssmenu a:hover {
  background: #2580a2 url("hover.gif") left center no-repeat;
  color: #fff;
  padding-bottom: 8px;
}
